<style type="text/css">
    body{
        margin:0px;
    }

  .main_h {
position: fixed;
top: 0px;
max-height: 70px;
z-index: 999;
width: 100%;
padding-top: 17px;
background: none;
overflow: hidden;
-webkit-transition: all 0.3s;
transition: all 0.3s;
opacity: 0;
top: -100px;
padding-bottom: 6px;
font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
.main_h {
padding-top: 25px;
}
}

.logo {
        display: inline-block;
        transition: all .3s ease 0s;
        text-decoration: none;

    }
    .logo:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
    .icon{
        width: 35%;
    }
.sticky {
background-color: rgba(255, 255, 255, 0.93);
opacity: 1;
top: 0px;
border-bottom: 1px solid gainsboro;
}

.logo {
width: 150px;
float: left;
display: block;
margin-top: 0;
}
@media only screen and (max-width: 766px) {
.logo {
float: none;
}
}




.row {
width: 100%;
max-width: 1000px;
margin: 0 auto;
position: relative;
padding: 0 2%;
}

    * {
        box-sizing: border-box;
    }
    body {
        color: #8f8f8f;
        padding-top: 0px;
        font-family: "Cardo", serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        z-index: 1000;
    }
    a {
        text-decoration: none;
        font-size: 30px;
        font-family:  sans-serif;
    }
    h1 {
        text-align: center;
        color: black;
        font-size: 40px;
        line-height: 1.8;
        text-transform: uppercase;
        font-family: 'arial unicode ms';
    }
    h3{
        font-size: 25px;
        font-family: 'Hiragino Kaku Gothic Pro';
        padding-left: 5px;
    }
    p {
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 2;
    }
    .content {
        padding: 50px 2% 250px;
    }
    @media screen and (min-width:1024px) {
        .hero {
            position: relative;
            background-color: white;
            -webkit-background-size: cover;-moz-background-size: cover;
            background-size: cover;
            text-align: center;
            padding-top: 110px;
            min-width: 100%;
            min-height: 100%;
            letter-spacing: 2px;
            font-family: "Montserrat", sans-serif;z-index: 3000;padding: 0px;
            margin: 0px;
        }
    }
    @media only screen and (min-width:640px) and (max-width:1023px) {
        .hero {
            position: relative;
            background-color: white;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            text-align: center;
            padding-top: 110px;
            min-width: 100%;
            min-height: 100%;
            letter-spacing: 2px;
            font-family: "Montserrat", sans-serif;
            z-index: 3000;
            padding: 0px;
            margin: 0px;
        }
    }
    @media screen and (max-width:639px) {
        .hero {
            position: relative;
            background-color: white;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            text-align: center;
            padding-top: 110px;width: 100%;height: 50%;
            letter-spacing: 2px;
            font-family: "Montserrat", sans-serif;
            z-index: 3000;
            padding: 0px;
            margin: 0px;
        }
    }
    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
        }
    }
    @keyframes scroll {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
            transform: translateY(20px);
        }
    }
    ul{
        list-style: none;
    }
    .start {
        background: #1e8100;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9000;
        padding: 0px;
        margin: 0px;
    }
   .start p {
       position: fixed;
       left: 0%;
       top: 0%;
       margin: 0px;
       padding: 0px;
       display: none;
       z-index: 9999;
       width: 100%;
       height: 100%;
       text-align: center;
    }
    .start video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit- transform: translateY(-50%) translateX(-50%);
        width: 100vw;
        margin: 0px;
        padding: 0px;
    }

    .fadein{
        width: 100%;
        opacity : 1;
        transform : translate(0, 0);
    }
    .sp{
        width: 30%;
    }
    .ep{
        width: 20%;
    }
    @media screen and (max-width:639px) {
        .spr{display:none}
    }
    @media only screen and (min-width:640px) and (max-width:1023px) {
        .spr{
            width: 70%;
            float:right;}
    }
    @media screen and (min-width:1024px) {
        .spr{
            width: 70%;
            float:right;}
    }
    @media screen and (max-width:639px) {
        .fream{
            width:100%;
            height:50%;
            text-align: center;
        }
    }
    @media only screen and (min-width:640px) and (max-width:1023px) {
        .fream{
            width:100%;
            height:100%;
            text-align: center;
        }
    }
    @media screen and (min-width:1024px) {
        .fream{
            width:100%;
            height:100%;
        }
    }

    .club {
     border-top: solid  #4db04f;
   }
   .gyoji{
       border-bottom: solid #4db04f;
       border-top: solid  #4db04f;
   }
    .sec00{
        border-bottom: solid #4db04f;
        border-top: solid  #4db04f;
       }
    .sec01{
        border-bottom: solid #4db04f;
        border-top: solid  #4db04f;
        }
    .sec02{
        border-bottom: solid #4db04f;
        border-top: solid  #4db04f;
        }
    .sec03{
        border-bottom: solid #4db04f;
        border-top: solid  #4db04f;
        }
    .sec04{
        border-bottom: solid #4db04f;
        border-top: solid  #4db04f;
       }
    .sec05{
        border-bottom: solid #4db04f;
        border-top: solid  #4db04f;
    }
    .sec06 h1{
        border-bottom: solid #4db04f;
        border-top: solid  #4db04f;
    }
    .sec06{
        text-align: center;
    }
    @media screen and (max-width:639px) {
        .photo{
            width: 100%;
            height: 70%;

        }
    }

@media only screen and (min-width:640px) and (max-width:1023px) {
.photo{
     width: 100%;
    height:70%;

   }
}

@media screen and (min-width:1024px) {
.photo{
     width: 1000px;
    height:80%;
  padding-bottom: 90px;

   }
}






.nante {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.nante::before,
.nante::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.nante,
.nante::before,
.nante::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.nante {
background-color: #006400;
color: #fff;
}
.nante:hover {
background-color: #fff;
color: #000;
}


.koute {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.koute::before,
.koute::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.koute,
.koute::before,
.koute::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.koute {
background-color: #006400;
color:  #fff;
}
.koute:hover {
background-color: #fff;
color: #000;
}

.yakyu {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.yakyu::before,
.yakyu::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.yakyu,
.yakyu::before,
.yakyu::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.yakyu {
background-color: #006400;
color: #fff;
}
.yakyu:hover {
background-color: #fff;
color: #000;
}


.basuke {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.basuke::before,
.basuke::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.basuke,
.basuke::before,
.basuke::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.basuke {
background-color: #006400;
color: #fff;
}
.basuke:hover {
background-color: #fff;
color: #000;
}


.takyu {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.takyu::before,
.takyu::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.takyu,
.takyu::before,
.takyu::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.takyu {
background-color: #006400;
color: #fff;
}
.takyu:hover {
background-color: #fff;
color: #000;
}


.kendo {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.kendo::before,
.kendo::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.kendo,
.kendo::before,
.kendo::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.kendo {
background-color: #006400;
color: #fff;
    }
.kendo:hover {
background-color: #fff;
color: #000;
}

.rikujo {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.rikujo::before,
.basuke::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.rikujo,
.rikujo::before,
.rikujo::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.rikujo {
background-color: #006400;
color: #fff;
}
.rikujo:hover {
background-color: #fff;
color:#000;
}

.sakka {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.sakka::before,
.sakka::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.sakka,
.sakka::before,
.sakka::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.sakka {
background-color: #006400;
color: #fff;
}
.sakka:hover {
background-color: #fff;
color: #000;
}


.hand {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.hand::before,
.hand::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.hand,
.hand::before,
.hand::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.hand {
background-color: #006400;
color: #fff;
}
.hand:hover {
background-color: #fff;
color: #000;
}


.noyama {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.noyama::before,
.noyama::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.nayama,
.noyama::before,
.noyama::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.noyama {
background-color: #006400;
color: #fff;
}
.noyama:hover {
background-color: #fff;
color: #000;
}


.suiei {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.suiei::before,
.suiei::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.suiei,
.suiei::before,
.suiei::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.suiei {
background-color: #006400;
color: #fff;
}
.suiei:hover {
background-color: #fff;
color: #000;
}

.jag {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.jag::before,
.jag::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.jag,
.jag::before,
.jag::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.jag {
background-color: #006400;
color: #fff;
}
.jag:hover {
background-color: #fff;
color: #000;
}


.kagaku {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.kagaku::before,
.kagaku::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.kagaku,
.kagaku::before,
.kagaku::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.kagaku {
background-color: #006400;
color: #fff;
}
.kagaku:hover {
background-color: #fff;
color: #000;
}


.seibutu {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.seibutu::before,
.nante::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.seibutu,
.seibutu::before,
.seibutu::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.seibutu {
background-color: #006400;
color: #fff;
}
.seibutu:hover {
background-color: #fff;
color: #000;
}


.ongaku {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.ongaku::before,
.ongaku::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.ongaku,
.ongaku::before,
.ongaku::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.ongaku {
background-color: #006400;
color: #fff;
}
.ongaku:hover {
background-color: #fff;
color: #000;
}


.komaki {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.koamki::before,
.komaki::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.koamki,
.komaki::before,
.komaki::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.komaki {
background-color: #006400;
color: #fff;
}
.komaki:hover {
background-color: #fff;
color: #000;
}


.ori {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.ori::before,
.ori::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.ori,
.ori::before,
.ori::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.ori{
background-color: #006400;
color: #fff;
}
.ori:hover {
background-color: #fff;
color: #000;
}


.syogi{
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.syogi::before,
.syogi::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.syogi,
.syogi::before,
.syogi::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.syogi {
background-color: #006400;
color:#fff;
}
.syogi:hover {
background-color: #fff;
color: #000;
}

.engi {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.engi::before,
.engi::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.engi,
.engi::before,
.engi::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.engi {
background-color: #006400;
color: #fff;
}
.engi:hover {
background-color: #fff;
color: #000;
}


.suken {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.suken::before,
.suken::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.suken,
.suken::before,
.suken::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.suken {
background-color: #006400;
color: #fff;
}
.suken:hover {
background-color: #fff;
color: #000;
}

.pazu {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.pazu::before,
.pazu::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.pazu,
.pazu::before,
.pazu::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.pazu {
background-color: #006400;
color: #fff;
}
.pazu:hover {
background-color: #fff;
color:  #000;
}

.paken {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.paken::before,
.paken::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.paken,
.paken::before,
.paken::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.paken {
background-color: #006400;
color: #fff;
}
.paken:hover {
background-color: #fff;
color: #000;
}

.gogaku {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.gogaku::before,
.gogaku::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.gogaku,
.gogaku::before,
.gogaku::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.gogaku{
background-color: #006400;
color: #fff;
}
.gogaku:hover {
background-color: #fff;
color: #000;
}

.bungei {
width: 200px;
height: 54px;
text-align: center;
text-decoration: none;
line-height: 54px;
outline: none;
border : solid 2px #000 ;
}
.bungei::before,
.bungei::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.bungei,
.bungei::before,
.bungei::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .3s;
transition: all .3s;
}
.bungei{
background-color: #006400;
color: #fff;
}
.bungei:hover {
background-color: #fff;
color: #000;
}
.skipp{
    width: 100%;


    }
.Copyright{
font-family: sans-serif;
font-size: 15px;
text-align: center;
    }

nav {
float: right;
width: 80%;
}
@media only screen and (max-width: 766px) {
nav {
width: 100%;
}
}
nav ul {
list-style: none;
overflow: hidden;
text-align: right;
float: right;
}
@media only screen and (max-width: 766px) {
nav ul {
padding-top: 10px;
margin-bottom: 22px;
float: left;
text-align: center;
width: 100%;
}
}
nav ul li {
display: inline-block;
margin-left: 35px;
line-height: 1.5;

}
@media only screen and (max-width: 766px) {
nav ul li {
width: 100%;
padding: 7px 0;
margin: 0;
}
}
nav ul a {
color: #000;
text-transform: uppercase;
font-size: 18px;
}


.nn {
display: inline-block;
position: relative;
text-decoration: none;
}
.nn::after {
position: absolute;
content: '';
bottom: .2em;
left: 0;
width: 100%;
height: 3px;
opacity: 0;
background: #239e44;
transition: all .3s ease 0s;
}
.nn:hover {
cursor: pointer;
    }
.nn:hover::after {
bottom: 0;
opacity: 1;
    }



#pagetop{
position:fixed;
right:10px;
bottom:0px;
cursor:pointer;
z-index: 10;
    }


    .mapbtn img{
        border: solid 1px;
        border-color: black;
        transition: 0.5s;
    }
    .mapbtn img:hover{
        transform: scale(0.9,0.9);

    }
.btn{
 width: 10%;

   }

     @media screen and (max-width:639px) {
.active{
width: 10%;

}
.himitu {
position: relative;
}
.himitu .active {
position: absolute;
left: 0;
top: 0;
opacity: 1;
transition: 0.2s;
}
.himitu:hover .active {
opacity: 1;
}
}

@media only screen and (min-width:640px) and (max-width:1023px) {
.active{
width: 10%;

}
.himitu {
position: relative;
}
.himitu .active {
position: absolute;
left: 0;
top: 0;
opacity: 1;
transition: 0.2s;
}
.himitu:hover .active {
opacity: 1;
}
}

@media screen and (min-width:1024px) {
.active{
width: 10%;

}
.himitu {
position: relative;
}
.himitu .active {
position: absolute;
left: 0;
top: 0;
opacity: 0;
transition: 0.2s;
}
.himitu:hover .active {
opacity: 1;
}
}



dl.case1{
margin:35px;
padding:0;
line-height:1.8;
width:100%;
}
dl.case1 dt{
width:6em;
float:left;
margin:0;
padding:0 0 0 5px;
}
dl.case1 dd{
margin:0 0 10px;
padding:0 5px 10px 8em;
border-bottom:1px dotted #ccc;
}
dl.case1 a{
color: #239e44;
border-bottom: solid 3px #249e44;
   }
dl.case1 a:hover{
background-color: #fffda1;

   }

@media screen and (max-width:639px) {
.case1 a{
font-size: 20px;
    }
}

@media only screen and (min-width:640px) and (max-width:1023px) {
.case1 a{
font-size: 30px;
    }
}

@media screen and (min-width:1024px) {
.case1 a{
font-size: 30px;
    }
}


.hero{

background-repeat:no-repeat;
background-attachment:fixed;
background-position:top;
background-size: 100%;
top: 0;
left: 0;
}
.hero img{
width: 100%;

}
@media screen and (max-width:639px) {
.top{
width: 100px;
   }
}

@media only screen and (min-width:640px) and (max-width:1023px) {
.top{
 width: 200px;
   }
}

@media screen and (min-width:1024px) {
.top{
 width: 200px;
   }
}


.skip {
text-decoration: none;
font-weight: bold;
font-size: 37px;
color: #249e44;
text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
text-align:center;
}
.skip:active {
top: 4px;
text-shadow: none;
}

.key{
color: #239e44;
font-family: 'arial unicode ms';
font-size: 20px;
    }



.menber p{
color: #239e44;
font-family: 'arial unicode ms';
font-size: 20px;
   }


.yurei{

 display:inline;
 border-bottom: solid 2px red;
   }
.yobi{
 display:inline;
   }
.yubi{
display:inline;
   }
.komejirusi{
font-family: 'arial unicode ms';
font-size: 20px;
color: red;
   }
    .hosoku{
        font-family: sans-serif;
    }

.dayimg img{
width: auto;
height: auto;
min-width: 100%;
max-width: 100%;
max-height: 100%;
position: absolute;
left: 0;
top: 0;
   }
.seisyunback{
   background-repeat: repeat-y;
   width: 100%;
    }

.adjustment{
height: 50px;
    }

 </style>
