body{
  height: 150%;
}

h2{
  font-size: 1.5vw;
  color: #fff;
  margin: 0;
}
h3{
  color: #fff;
  margin: 0;
}
p{
  color:#fff;
  margin: 0;
}
.navbar-brand{
  margin-left: 40px;
  width: 30%;
  min-width: 200px;
}
.navbar{
  margin-top: 0;
  min-width: 30%;
}
.hoge1{
  margin-right: 50px;
}
.hoge2{
  margin-right: 20px;
}

.title{
  padding-top: 3%;
  text-align: center;
}
.explain{
  padding-top: 3%;
  text-align: center;
}
.face{
  width: 4%;
  padding-right: 3px;
}
.hidden{
  text-align: center;
  padding-top: 3%;
}
.recently{
  padding-top: 3%;
}
.title2{
  padding-left: 5%;
  font-size: 2vw;
}
