.members{
  text-align: center;
  padding-top: 3%;
}
.slider{
  margin: 100px auto;
  width: 80%;
}
.slider img{
  height: auto;
  width: 100%;
}
.slider p{
  color: #000;
}
.member{
  display: inline-block;
  background-color: #FFF;
  border-radius: 10px;
  align-content: center;
}
.member_name{
  margin: 10% auto;
}
.member img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.slick-prev:before,
.slick-next:before{
  font-size: max(5vw,30px);
  color: #FFF;
}

.slick-prev:before {
  position: relative;
  right: calc(max(5vw,30px) - 20px);
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before{
  color: #FFF;
}

.slick-slide {
  transform: scale(.8);
  opacity: 0.3;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.slick-current {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.our_slider{
  align-content: center;
  padding: 0;
}
