body{
  max-width: 100%;
  max-height: 500%;
  margin: 0;
  background-color: #171717;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
h1{
  color: #ffffff;
  font-size: 25px;
}
h2{
  margin-bottom: 30px;
  font-size: 2.6vw;
}
p{
  color: #ffffff;
  font-size: 1.3vw;
}
a p{
  color: #0083f5;
}

.nav{
  box-shadow: 5px 5px 30px 5px #1C1C1C;
}
.top{
  position: relative;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 10);
}
.smBtn{
  height: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.video{
  width: 100%;
}
.navbar-brand{
  margin-left: 40px;
  min-width: 30%;
}
.navbar{
  margin-top: 0;
}
.hoge1{
  margin-right: 50px;
}
.hoge2{
  margin-right: 20px;
}
.BtnImage1{
  min-width: 25%;
  max-width: 30%;
  margin-left: 3%;
  position: absolute;
  top:65%;
}
.BtnImage2{
  min-width: 25%;
  max-width: 30%;
  margin-left: 3%;
  position: absolute;
  top:80%;
}
.BtnImage1_sm{
  min-width: 40vw;
  max-width: 30%;
  position: relative;
}
.BtnImage2_sm{
  max-width: 40vw;
  position: relative;
}
.ForExternalsm{
  width: 40vw;
  margin: 5%;
  margin-left: 6.66%;
  margin-right: 3.33%;
}
.ForInternalsm{
  width: 40vw;
  margin: 5%;
  margin-left: 3.33%;
  margin-right: 6.66%;
  /* float: right; */
}

.maintitle{
  height: 20%;
}
.main{
  height: 100%;
}
section{
  text-align: center;
}
.maintitle h1{
  padding-top: 3.5vw;
  margin-bottom: 0;
  font-size: 5vw;
  letter-spacing: 0px;
  line-height: 130%;
  color: #ACB6E5;/*非対応のブラウザでの文字色を設定*/
  background-image: url(images/BK_smoke.png);
  background-size: 100% 100%;
  background-position: absolute;
  background-attachment: fixed;
  -webkit-background-clip: text;/*テキストでくり抜く*/
  -webkit-text-fill-color: transparent;/*くり抜いた部分は背景を表示*/

}


.setsumei1{
  height: 100%;
  position: relative;
}
.setsumei1 h2,p{
  margin-left: 10%;
  color: #fff;
}
.setsumei1 h2{
  margin-top: 25%;
}
.explode{
  width: 100%;
  padding-right: 10%;
}
.video1{
  position: absolute;
  width: 50%;
  top: 0;
  margin-left: 50%;
}

.members{
  text-align: center;
}
.slider{
  margin: 100px auto;
  width: 80%;
}
.slider img{
  height: auto;
  width: 100%;
}
.slider p{
  color: #000;
}
.member{
  display: inline-block;
  background-color: #FFF;
  border-radius: 10px;
}
.member img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.slick-prev:before,
.slick-next:before,
.slick-dots li.slick-active button:before,
.slick-dots li button:before{
  color: #FFF;
}

@media (max-width: 992px){

}
@media (max-width: 768px){
  .setsumei1{
    height: 100%;
    text-align: center;
  }
  .setsumei1 h2,p{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    color: #fff;
  }
  .setsumei1 h2{
    font-size: 20px;
    margin-top: 5%;
  }
  .explode{

    padding: 0;
    width: 50%;
    margin: auto;
  }
  .video1{
    position: relative;
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}
@media (max-width: 544px){

}
