body{
  max-width: 100%;
  max-height: 500%;
  margin: 0;
  background-color: #171717;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
h1{
  color: #ffffff;
  font-size: 25px;
}
p{
  color: #ffffff;
}
.top{
  position: relative;
}
.smBtn{
  height: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.video{
  width: 100%;
}
.navbar-brand{
  margin-left: 40px;
}
.navbar{
  margin-top: 0;
}
.hoge1{
  margin-right: 50px;
}
.hoge2{
  margin-right: 20px;
}
.BtnImage1{
  min-width: 25%;
  max-width: 30%;
  margin-left: 3%;
  position: absolute;
  top:65%;
}
.BtnImage2{
  min-width: 25%;
  max-width: 30%;
  margin-left: 3%;
  position: absolute;
  top:80%;
}
.BtnImage1_sm{
  min-width: 40vw;
  max-width: 30%;
  position: relative;
}
.BtnImage2_sm{
  max-width: 40vw;
  position: relative;
}
.ForExternalsm{
  width: 40vw;
  margin: 5%;
  margin-left: 6.66%;
  margin-right: 3.33%;
}
.ForInternalsm{
  width: 40vw;
  margin: 5%;
  margin-left: 3.33%;
  margin-right: 6.66%;
  /* float: right; */
}

.maintitle{
  height: 100%;
}
.main{
  height: 20%;
}
section{
  text-align: center;
}
.maintitle h1{
  padding-top: 3.5vw;
  margin-bottom: 0;
  font-size: 5vw;
  letter-spacing: 0px;
  line-height: 130%;
  color: #ACB6E5;/*非対応のブラウザでの文字色を設定*/
  background-image: url(images/BK_smoke.png);
  background-size: 100% 100%;
  background-position: absolute;
  background-attachment: fixed;
  -webkit-background-clip: text;/*テキストでくり抜く*/
  -webkit-text-fill-color: transparent;/*くり抜いた部分は背景を表示*/

}


.philosophy{
  height: 200%;
}
