body{
  max-width: 100%;
  max-height: 500%;
  margin: 0;
  background-color: gray;
}
p{
  color: #d3d3d3;
}
.top{
  position: relative;
}
.video{
  width: 100%;
}
.navbar-brand{
  margin-left: 40px;
}
.navbar{
  margin-top: 0;
}
.hoge1{
  margin-right: 50px;
}
.BtnImage1{
  min-width: 25%;
  max-width: 30%;
  margin-left: 3%;
  position: absolute;
  top:65%;
}
.BtnImage2{
  min-width: 25%;
  max-width: 30%;
  margin-left: 3%;
  position: absolute;
  top:80%;
}
.text1 p{
  font-size: 15px;
  margin-left: 20%;
}
